<div class="header">
  <h1>Converter</h1>
  <section>
    <mat-slide-toggle [(ngModel)]="isDollar" (change)="switch(result)">Switch to dollar</mat-slide-toggle>
  </section>
</div>

<div class="content">
  <section class="amount">
    <mat-form-field floatLabel="always">
      <mat-label>Amount</mat-label>
      <input matInput class="amount" type="number" [(ngModel)]="amount" />
      <span matPrefix>{{ isDollar ? '$' : '€' }}&nbsp;</span>
    </mat-form-field>
  </section>

  <section class="result">
    <p #result>
      {{amount | exchangeRateConverter: (exchangeRateService.exchangeRate$ | async):isDollar:forcedRate
      | currency: (isDollar ? 'EUR' : 'USD')}}
    </p>
  </section>
</div>

<div>
  <section>
    <mat-form-field floatLabel="always">
      <mat-label>Forced Rate</mat-label>
      <input matInput class="forcedRate" type="number" [(ngModel)]="forcedRate" />
    </mat-form-field>
  </section>
  <section>
    <p>{{ (exchangeRateService.exchangeRate$ | async) | forceRateUsage: forcedRate}}</p>
  </section>
</div>

